**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
terraform/.terraform/providers/registry.terraform.io/*
terraform-provider-aws_v6.42.0_x5
*.pem
*.key
.terraform
.git
